body {
  padding-top: 80px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #595959; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'bebas', sans-serif; }
  body h2.wwf-heading {
    color: #000000;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px; }
  body .container {
    width: 1300px; }
  body .wwf-grey-bg {
    background-color: #f4f4f1; }
  body header {
    height: 80px;
    background-color: #FFFFFF; }
    body header div.navbar-header a.navbar-brand {
      color: #000000;
      font-weight: bold;
      display: block;
      width: 100px;
      text-align: center;
      border: 1px solid #d0d0d0;
      border-top: 0px;
      height: auto !important;
      background-color: #FFFFFF; }
      body header div.navbar-header a.navbar-brand img {
        width: 100%; }
      body header div.navbar-header a.navbar-brand span.logo-text {
        display: block;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #000000;
        text-align: justify;
        letter-spacing: 2px;
        font-size: 16px; }
    body header nav.top-menu ul.nav li {
      margin: auto 13px; }
      body header nav.top-menu ul.nav li:first-child {
        margin-left: 0px; }
      body header nav.top-menu ul.nav li:last-child {
        margin-right: 0px; }
      body header nav.top-menu ul.nav li a {
        color: #000000;
        padding: 0px;
        padding-bottom: 5px;
        font-family: 'bebas', sans-serif;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase; }
        body header nav.top-menu ul.nav li a:hover {
          background: none;
          text-decoration: none;
          border-bottom: 2px solid #ffc047; }
  body section.top-banner {
    padding: 45px 0px 65px; }
    body section.top-banner div.container {
      background-image: url("images/mountains-txture.png");
      background-size: cover;
      background-position: fixed;
      background-repeat: no-repeat; }
  body section#about {
    padding: 60px 0px 85px; }
  body section#news {
    padding: 75px 0px; }
    body section#news div.container {
      background-image: url("images/news-bg.png");
      background-size: cover;
      background-position: fixed;
      background-repeat: no-repeat; }
    body section#news img {
      width: 100%; }
  body section#donate {
    background-image: url("images/donate-bg.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-height: 800px;
    padding: 75px 0px 85px; }
    body section#donate h2 {
      color: #FFFFFF; }
    body section#donate .wwf-donate-form {
      background-color: #FFFFFF; }
  body footer {
    background-color: #252525;
    padding: 50px 0px;
    color: #FFFFFF;
    font-size: 16px; }
    body footer a {
      color: #ffc047; }
    body footer a:hover {
      color: #ffc047;
      text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
